body {
  padding: 0;
  margin: 0;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.title {
  font-size: 24px;
}

.card {
  display: inline-grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "picture picture"
    "headline ."
    "textbox textbox"
    ". published"
    "button button";
  color: rgb(31, 30, 30);
  grid-gap: 10px;
  border: 3px solid black;
  border-radius: 15px;
  box-shadow: 10px 10px 33;
}

.picture-container {
  grid-area: picture;
}

.headline {
  grid-area: headline;
  font-weight: bold;
  font-size: 2em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 5px;
}

.textbox {
  grid-area: textbox;
  margin-left: 5px;
}

.published {
  grid-area: published;
  place-self: flex-end;
  margin-right: 5px;
}

.button-container {
  grid-area: button;
}

.boton {
  width: 100%;
  background-color: green;
  padding: 10px;
  color: white;
  cursor: pointer;
  border-radius: 0px 0px 10px 10px;
}

.picture {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
