$primaryFont: Verdana, Geneva, Tahoma, sans-serif;
$secondaryFont: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
$baseColor: red;
$importantColor: brown;
$warningColor: pink;
$boxShadow: 15px 15px 20px 5px rgba(97, 89, 97, 0.79);
