$primaryFont: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
$secondaryFont: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$baseColor: blue;
$importantColor: rgb(17, 96, 61);
$warningColor: rgb(117, 75, 177);
$boxShadow: -10px 15px 20px 5px rgba(97, 89, 97, 0.79);
